/* Styles for Layout Skeleton App */
.app {
  display: grid;
  grid-template-columns: auto 660px;
  width: 100vw;
  height: 100vh;
}
.appTheme-logo {
  opacity: 0.25;
}
[data-theme=Lagerhaus] .appTheme-logo.appTheme-logo--Lagerhaus {
  opacity: 1;
}
[data-theme=RWA] .appTheme-logo.appTheme-logo--RWA {
  opacity: 1;
}
.appButton {
  background: hsl(0, 0%, 85%);
  line-height: 2rem;
  font-weight: 700;
  padding: 0 1rem;
  cursor: pointer;
  border: 0;
  border-radius: 0.25rem;
  font-family: "Open Sans", system, -apple-system, ".SFNSText-Regular",
    "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande",
    sans-serif !important;
}
.appPrimary {
  color: hsl(241, 69%, 57%);
}
.appFontMd {
  font-size: 16px;
  font-family: "Open Sans", system, -apple-system, ".SFNSText-Regular",
    "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande",
    sans-serif !important;
}
.appSelect {
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid hsl(0, 60%, 85%);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  font-family: "Open Sans", system, -apple-system, ".SFNSText-Regular",
    "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande",
    sans-serif !important;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}
.appContent {
  overflow: auto;
  width: 100%;
}
.appContent .appContentActions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  min-height: 3rem;
  background: hsl(60, 0%, 100%);
}
.blank {
  display: flex;
  align-items: center;
  justify-content: center;
}
.appContent {
  display: grid;
  grid-template-rows: 3rem auto;
  height: 100vh;
  font-family: "Open Sans", system, -apple-system, ".SFNSText-Regular",
    "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande",
    sans-serif !important;
}
.appContent .layoutWrapper {
  overflow: auto;
}
.appContent .appContentActions {
  background: hsl(60, 0%, 90%);
}
.appContent .appContentActions .appFontMd {
    line-height: 2rem;
    padding-right: 1rem;
}
.appSidebar {
  background: hsl(60, 0%, 100%);
  border-left: 2px solid hsl(60, 0%, 90%);
  display: grid;
  grid-template-rows: 3rem auto auto;
  height: 100vh;
  font-family: "Open Sans", system, -apple-system, ".SFNSText-Regular",
    "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande",
    sans-serif !important;
}
.appSidebar .appSidebarActions {
  background: hsl(60, 0%, 90%);
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.appSidebar .appSidebarActions > div,
.appContent .appContentActions > div {
  display: inline-flex;
  gap: 0.25rem;
}
.appSidebar #code {
  border: none;
  border-top: 2px solid hsl(60, 0%, 90%);
  background: hsl(0, 0%, 95%);
}
.isSelected {
  outline: 1px dashed hsl(0, 60%, 85%);
  outline-offset: -1px;
}
.layout .componentRoot {
  cursor: default;
}
.layout .componentRoot:hover {
  outline: 1px dashed hsl(0, 60%, 65%);
  outline-offset: -1px;
}
